.container {
  display: flex;
  flex-direction: column;
  min-width: 1050px;
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}
p{
  font-size: 12px;
}
#frugalmap{
  width: 100%;
  height: 250px;
}
