.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.container > * {
  width: 80%;
}

.form {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 13px;
  flex-grow: 1;
}
input{
  width: 250px;
  margin-left:20px;
}
