<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex="100">
      <div class="mat-elevation-z8">
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-form-field>
           <mat-label>Filter</mat-label>
           <input matInput (keyup)='applyFliter($event.target.value)' placeholder="Ex. Device-1" >
        </mat-form-field>
        <table mat-table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="noms">
            <th mat-header-cell *matHeaderCellDef> Noms </th>
            <td mat-cell *matCellDef="let element"> {{element.noms}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef> Password </th>
            <td mat-cell *matCellDef="let element"> {{element.password}} </td>
          </ng-container>

           <!-- Symbol Column -->
           <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.roles[0].designation}} </td>
          </ng-container>

              <!-- actions -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              <button mat-icon-button color="primary" (click)="addNew()">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let element; let i=index;">
              <button mat-icon-button color="accent" (click)="startEdit(i, element.id, element.noms, element.username,element.preference,element.roles)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>

              <button mat-icon-button color="accent" (click)="deleteItem(i, element.id, element.noms, element.username, element.roles[0].designation)">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>
    </div>
  </div>

